/* Tayla Orsmond u21467456 */
/* 
 * 
 * Events styling
 * 
 */
/* EVENT CARDS */
.card,
*[class~="card"] {
    background-color: transparent !important;
    border: none !important;
    color: var(--dark) !important;
    transition: all 0.4s ease;
}

#event_primary:hover,
.card:hover,
.event-card:hover,
.user-card:hover,
*[class~="card"]:hover {
    color: var(--light) !important;
    transform: scale(0.95);
    border: none;
    background-color: var(--dark) !important;
}

#event_primary:hover a,
.card:hover a,
.event-card:hover a,
.user-card:hover a,
*[class~="card"]:hover a {
    color: var(--light) !important;
}

#event_area {
    min-height: 20rem;
}
.event-area-inner,
.user-area-inner {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 36%;
    gap: 1rem;
}

.event-card .card-img-top {
    height: 15rem;
    object-fit: cover;
    object-position: center;
}

/* USER CARDS */
.user-card {
    max-height: 12rem;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 0.4s ease;
}

.user-card img {
    max-height: 4rem;
    height: 4rem;
    width: 4rem;
    object-fit: cover;
}

/* PRIMARY EVENT CARD */
.primary-event-outer {
    background-color: var(--dark);
    border-radius: 0.5rem;
    padding: 1rem;
}

#event_primary {
    object-fit: cover;
    object-position: center;
    transition: all 0.4s ease;
}

#event_primary img[class*="card-img"] {
    opacity: 0.5;
    filter: brightness(0.5);
    object-fit: cover;
    object-position: center;
}

#event_primary div[class*="card-header"] {
    border: none;
    background-color: transparent !important;
    color: var(--accR) !important;
}

#event_primary h5[class*="card-title"] {
    color: var(--accR) !important;
}

/* IMAGES */
div[class~="carousel-item"] {
    height: 25rem;
}

div[class~="carousel-item"] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* NAV TABS */
.nav-tabs a[class*="active"] {
    background-color: var(--dark) !important;
    color: var(--light) !important;
}

.nav-tabs a {
    color: var(--dark) !important;
}

.nav-tabs a:hover {
    border-color: var(--dark) !important;
}

/* REVIEW STARS */
.fa-star,
.fa-star-o{
    transition: all 0.4s ease;
}

.fa-star:hover,
.fa-star-o:hover {
    transform: scale(1.2);
}

/* BORDER */
.border {
    border: 0.05rem solid var(--dark) !important;
    border-radius: 0.5rem;
}
/* NEW BADGE */
.badge-new,
.badge-admin {
    background-color: var(--accY) !important;
    color: var(--light) !important;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.badge-admin {
    background-color: var(--accR) !important;
}

.review-comment {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--dark);
    margin-bottom: 0.2rem;
}

#edit_review,
#delete_review {
    font-size: 0.8rem;
}

@media screen and (max-width: 991px) {
    .event-area-inner,
    .user-area-inner {
        grid-auto-columns: 100%;
        gap: 0.5rem;
    }
}