/* Tayla Orsmond u21467456 */
/* 
 * Event card styling
 */
.scroller{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: mandatory;
    scroll-snap-align: start;
}
.event-area-inner{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 36%;
    gap: 1rem;
}
.event-card{
    flex-basis: 24%;
    color: var(--dark);
    transition: all 0.4s ease;
    box-sizing: border-box;
}
.event-card:hover{
    border: solid 0.5rem var(--light);
}
#event-primary img[class*="card-img"]{
    opacity: 0.5;
}
#event-primary div[class*="card-header"]{
    border: none;
    color: var(--accB) !important;
}
#event-primary h5[class*="card-title"]{
    color: var(--accB) !important;
}
div[class~="carousel-item"]{
    height: 25rem;
}
div[class~="carousel-item"] img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* NAV LINKS */
.nav-tabs a[class*="active"]{
    background-color: var(--dark) !important;
    color: var(--light) !important;
}
.nav-tabs a{
    color: var(--dark) !important;
}
.nav-tabs a:hover{
    border-color: var(--dark) !important;
}
