/* Tayla Orsmond u21467456 */
/*  
 * Global styles
 * to be referenced by all stylesheets
 */
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Yeseva+One&display=swap');

/* VARIABLES */
:root {
    --main: #0F0A0A;
    --dark: #263238;
    --light: #fbfbfb;
    --accR: #F92472;
    --accY: #F3CA40;
    --accB: #279AF1;
    --valid: rgb(115, 175, 115);
    --invalid: rgb(170, 81, 81);
    --message-sent: #d8eeff;
    --message-recieved: #fff2c7;
    --main-font: 'Poppins', sans-serif;
    --title-font: 'Yeseva One', cursive;
    scrollbar-color: var(--dark) transparent;
    scrollbar-width: thin;
    scrollbar-track-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: break-word;
}

/* BODY */
body {
    overflow-x: hidden;
    color: var(--dark);
}

/* CONTAINER */
.container-box {
    min-height: 100vh;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
}

/* NON_DRAGGABLE IMAGES / TEXT */
img,
img[class*="img-fluid"] {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* STYLING */
*[class*="display-1"],
h1 {
    font-family: var(--title-font);
}

/* SPACER */
.spacer {
    height: 50vh;
}

/* POINTER */
div[class*="card"] {
    cursor: pointer;
}

/* SCROLL */
.scroller {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: mandatory;
    scroll-snap-align: start;
}

.scroller::-webkit-scrollbar {
    height: 0.5rem;
}

.scroller::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
}

/* IMAGES */
#u_profile,
#e_img,
#r_img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* BUTTONS AND LINKS */
a {
    font-family: var(--main-font);
    color: var(--dark) !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer a {
    color: var(--light) !important;
}

a:hover {
    color: var(--accR) !important;
}

/* HEADER LINKS */
header a {
    position: relative;
}

header a:not(.btn)::before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    background-color: var(--accR);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

header a:hover {
    color: var(--accR);
}

header a:not(.btn):hover::before {
    visibility: visible;
    transform: scaleX(1);
}

*[class*="navbar-brand"]::before {
    content: " ";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    background-color: var(--accR);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

*[class*="navbar-brand"]::after {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0.2rem;
    top: 0;
    right: 0;
    opacity: 0.8;
    background-color: var(--accY);
    visibility: visible;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

*[class*="navbar-brand"]:hover {
    color: var(--light) !important;
}

*[class*="navbar-brand"]:hover::before {
    visibility: visible;
    transform: scaleX(1);
    height: 100%;
    width: 60%;
}

*[class*="navbar-brand"]:hover::after {
    visibility: visible;
    transform: scaleX(1);
    height: 100%;
    width: 60%;
}

/* BUTTONS */
.btn {
    border-radius: 0;
    border: none;
    transition: all 0.5s ease-in-out;
    color: var(--dark) !important;
}

.btn:hover {
    border-radius: 1rem;
    color: var(--light) !important;
}

*[class*="btn-primary"],
*[class*="btn-secondary"] {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

*[class*="btn-primary"]:hover,
.btn-primary:hover {
    background-color: var(--accR);
}

*[class*="btn-secondary"]:hover,
.btn-secondary:hover {
    background-color: var(--accB);
}

*[class*="btn-dark"] {
    background-color: var(--dark);
    color: var(--light) !important;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

*[class*="btn-dark"]:hover {
    background-color: var(--accY);
    color: var(--dark) !important;
}

*[class*="btn-light"] {
    background-color: var(--light);
    color: var(--dark);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

*[class*="btn-light"]:hover {
    background-color: var(--accB);
    color: var(--dark);
}

/* BORDER */
div[class*="border"] {
    border: 0.1rem solid var(--dark) !important;
    border-radius: 0.6rem;
}

/* BG DARK */
*[class*="bg-dark"] {
    background-color: var(--dark);
}

*[class*="bg-dark"] p,
*[class*="bg-dark"] a {
    color: var(--light);
}

div[class*="bg-dark"] a:hover {
    color: var(--accR);
}

/* BG LIGHT */
*[class*="bg-light"] {
    background-color: var(--light) !important;
}

/* TEXT */
*[class*="text-secondary"],
em[class*="text-primary"],
div[class*="text-primary"],
svg[class*="text-secondary"] {
    color: var(--accR) !important;
}

*[class*="text-secondary"],
em[class*="text-secondary"],
div[class*="text-secondary"],
svg[class*="text-primary"] {
    color: var(--accB) !important;  
}

button[class*="btn-outline-dark"] {
    color: var(--dark);
    border-radius: 0 0.5rem 0.5rem 0;
}

button[class*="btn-outline-dark"]:hover {
    background-color: var(--accR);
    border-radius: 0 0.5rem 0.5rem 0;
}

/* RATING */
svg[class*="checked"] {
    color: var(--accY) !important;
}

/* ACCORDIONS AND TABLES */
*[class*="accordion"] {
    border: none;
    border-bottom: 0.01rem solid var(--dark);
    border-radius: 0.5rem;
}

*[class*="accordion-header"] {
    border: none;
    border-radius: 0.5rem;
}

*[class*="accordion-header"] button {
    color: var(--dark) !important;
    border-radius: 0.5rem;
}

*[class*="accordion-header"] button:hover {
    background-color: var(--accB);
    color: var(--light) !important;
}

*[class*="accordion-header"] button[aria-expanded="true"] {
    background-color: var(--dark);
    color: var(--accB) !important;
    box-shadow: none;
}

*[class*="accordion-header"] button[aria-expanded="true"]:hover {
    background-color: var(--dark);
    color: var(--accB) !important;
    box-shadow: none;
}

*[class*="accordion-header"] button:focus {
    box-shadow: none !important;
}

*[class*="accordion-body"] {
    border: none;
    border-radius: 0.5rem;
}

*[class*="accordion-body"] p {
    color: var(--dark);
}

*[class*="accordion-body"] p a:hover {
    color: var(--accB);
}

*[class*="table"] {
    border: none;
    border-radius: 0.5rem;
}

*[class*="table"] thead {
    background-color: var(--dark);
    color: var(--light);
}

*[class*="table"] tbody {
    background-color: var(--light);
    color: var(--dark);
}

*[class*="table"] tbody tr:nth-child(odd) {
    background-color: var(--light) !important;
}

*[class*="table"] tbody tr:hover {
    background-color: var(--dark) !important;
    color: var(--light) !important;
}

*[class*="table"] tbody tr:hover * {
    color: var(--light) !important;
}

*[class*="table"] tbody tr:hover a:hover {
    color: var(--accB) !important;
}