/* Tayla Orsmond u21467456 */
/*  
 * Global styles
 * to be referenced by all stylesheets
 */
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Yeseva+One&display=swap');

/* VARIABLES */
:root {
    --main: #0F0A0A;
    --dark: #263238;
    --light: #fbfbfb;
    --accR: #F92472;
    --accY: #F3CA40;
    --accB: #279AF1;
    --valid: rgb(115, 175, 115);
    --invalid: rgb(170, 81, 81);
    --message-sent: #d8eeff;
    --message-recieved: #ffd3e3;
    --message-unread: #e9f8ff;
    --main-font: 'Poppins', sans-serif;
    --title-font: 'Yeseva One', cursive;
    scrollbar-color: var(--dark) transparent;
    scrollbar-width: thin;
    scrollbar-track-color: transparent;
}

/* LIGHT THEME */
.light {
    --main: #0F0A0A;
    --dark: #263238;
    --light: #fbfbfb;
    --accR: #F92472;
    --accY: #F3CA40;
    --accB: #279AF1;
    --valid: rgb(115, 175, 115);
    --invalid: rgb(170, 81, 81);
    --message-sent: #d8eeff;
    --message-recieved: #ffd3e3;
    --message-unread: #e9f8ff;
    --main-font: 'Poppins', sans-serif;
    --title-font: 'Yeseva One', cursive;
    scrollbar-color: var(--dark) transparent;
    scrollbar-width: thin;
    scrollbar-track-color: transparent;
}

/* DARK THEME */
.dark {
    --main: #394b53;
    --dark: #a6b3b9;
    --light: #263238;
    --accR: #F92472;
    --accY: #F3CA40;
    --accB: #279AF1;
    --valid: rgb(115, 175, 115);
    --invalid: rgb(170, 81, 81);
    --message-sent: #d8eeff;
    --message-recieved: #ffd3e3;
    --message-unread: #e9f8ff;
    --main-font: 'Poppins', sans-serif;
    --title-font: 'Yeseva One', cursive;
    scrollbar-color: var(--dark) transparent;
    scrollbar-width: thin;
    scrollbar-track-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-weight: 500;
    overflow-wrap: break-word;
}

/* BODY */
body {
    overflow-x: hidden;
    background-color: var(--light) !important;
    color: var(--dark) !important;
}

/* CONTAINER */
.container-box {
    min-height: 100vh;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
}

/* NON_DRAGGABLE IMAGES / TEXT */
img,
img[class*="img-fluid"] {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* STYLING */
*[class*="display-1"],
h1,
.h3,
.h4 {
    font-family: var(--title-font);
}

/* SPACER */
.spacer {
    height: 50vh;
}

/* POINTER */
div[class*="card"] {
    cursor: pointer;
}

/* SCROLL */
.scroller {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
}

.scroller::-webkit-scrollbar {
    height: 0.5rem;
}

.scroller::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
}

/* IMAGES */
#u_profile,
#e_img,
#r_img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* BUTTONS AND LINKS */
a {
    font-family: var(--main-font);
    color: var(--dark) !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer a,
footer i {
    color: var(--light) !important;
}

a:hover {
    color: var(--accR) !important;
}

/* HEADER LINKS */
header a {
    position: relative;
}

header a:not(.btn)::before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    background-color: var(--accR);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

header a:hover {
    color: var(--accR);
}

header a:not(.btn):hover::before {
    visibility: visible;
    transform: scaleX(1);
}

*[class*="navbar-brand"]::before {
    content: " ";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    background-color: var(--accR);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

*[class*="navbar-brand"]::after {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0.2rem;
    top: 0;
    right: 0;
    opacity: 0.8;
    background-color: var(--accY);
    visibility: visible;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

*[class*="navbar-brand"]:hover {
    color: var(--light) !important;
}

*[class*="navbar-brand"]:hover::before {
    visibility: visible;
    transform: scaleX(1);
    height: 100%;
    width: 60%;
}

*[class*="navbar-brand"]:hover::after {
    visibility: visible;
    transform: scaleX(1);
    height: 100%;
    width: 60%;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    box-shadow: var(--accB) 0.2rem 0.2rem;
}

/* BUTTONS */
.btn {
    border-radius: 0;
    border: none;
    transition: all 0.5s ease-in-out;
    color: var(--dark) !important;
}

.btn:hover {
    border-radius: 1rem;
    color: var(--light) !important;
}

*[class*="btn-primary"],
*[class*="btn-secondary"] {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

*[class*="btn-primary"]:hover,
.btn-primary:hover {
    background-color: var(--accR);
}

*[class*="btn-secondary"]:hover,
.btn-secondary:hover {
    background-color: var(--accB);
}

*[class*="btn-dark"] {
    background-color: var(--dark);
    color: var(--light) !important;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

*[class*="btn-dark"]:hover {
    background-color: var(--accY);
    color: var(--dark) !important;
}

*[class*="btn-light"] {
    background-color: var(--light) !important;
    color: var(--dark) !important;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

*[class*="btn-light"]:hover {
    background-color: var(--accB) !important;
    color: var(--dark) !important;
}

/* BORDER */
div[class~="border"] {
    border: 0.1rem solid var(--dark) !important;
    border-radius: 0.6rem;
}

/* BG PRIMARY + SECONDARY */
*[class*="bg-primary"] {
    background-color: var(--accR) !important;
    transition: all 0.3s ease-in-out;
}

*[class*="bg-secondary"] {
    background-color: var(--accB) !important;
    transition: all 0.3s ease-in-out;
}

/* BG DARK */
*[class*="bg-dark"] {
    background-color: var(--dark) !important;
}

*[class*="bg-dark"] p,
*[class*="bg-dark"] a {
    color: var(--light) !important;
}

div[class*="bg-dark"] a:hover {
    color: var(--accR) !important;
}

/* BG LIGHT */
*[class*="bg-light"] {
    background-color: var(--light) !important;
}

/* TEXT */
*[class*="text-primary"],
em[class*="text-primary"],
div[class*="text-primary"],
svg[class*="text-secondary"] {
    color: var(--accR) !important;
}

*[class*="text-secondary"],
em[class*="text-secondary"],
div[class*="text-secondary"],
svg[class*="text-primary"] {
    color: var(--accB) !important;
}

*[class*="text-dark"] {
    color: var(--dark) !important;
}

*[class*="text-light"] {
    color: var(--light) !important;
}

button[class*="btn-outline-dark"] {
    color: var(--dark) !important;
    border-radius: 0 0.5rem 0.5rem 0;
}

button[class*="btn-outline-dark"]:hover {
    background-color: var(--accR) !important;
    border-radius: 0 0.5rem 0.5rem 0;
}

/* RATING */
svg[class*="checked"] {
    color: var(--accY) !important;
}

/* THEME TOGGLE */
.form-check-input[role="switch"] {
    background-color: var(--light) !important;
}

.form-check-input[role="switch"]:checked {
    background-color: var(--accY) !important;
}

@media screen AND (max-width: 991px) {

    /* SPACER  */
    .spacer {
        height: 10vh;
    }

    header,
    .navbar {
        background-color: var(--light) !important;
        border-radius: 0 0 1rem 1rem;
    }

    /* NAV */
    .navbar-nav {
        padding: 1rem;
        margin: 0;
    }

    .nav-item {
        padding: 0.5rem;
    }

    .nav-item .btn {
        padding: 0.5rem;
    }

    .navbar-toggler {
        border: none;
        background-color: transparent !important;
    }
}