/* Tayla Orsmond u21467456 */
/* 
 * 
 * Chat page styling
 * 
 */
/* MESSAGES */
#chat_messages,
#chats {
    height: 100%;
    max-height: 30rem !important;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chat {
    border-left: 0.1rem solid var(--dark);
    border-bottom: 0.05rem solid var(--dark);
    border-top: 0.05rem solid var(--dark);
    border-radius: 0.5rem 0 0 0.5rem;
    transition: all 0.3s ease-in-out;
}

.chat:hover {
    border-left: 0.25rem solid var(--accB);
}

.active {
    border-left: 0.25rem solid var(--accR);
}

/* CONTAINER */
.container-box {
    min-height: 90vh;
}

/* MESSAGE */
.message-box .bg-light {
    background-color: var(--message-sent) !important;
    border-radius: 0.5rem 0.5rem 0 0.5rem !important;
}

.left .bg-light{
    background-color: var(--message-recieved) !important;
    border-radius: 0.5rem 0.5rem 0.5rem 0 !important;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.unread-dot {
    background-color: var(--accR) !important;
    min-width: 0.5rem;
    min-height: 0.5rem;
    border-radius: 100%;
}

@media screen AND (max-width: 991px) {
    .chat {
        border: 0.1rem solid var(--dark);
    }
}