/* Tayla Orsmond u21467456 */
/* 
 * 
 * Profile page styling
 * 
 */
/* PROFILE PHOTO */
img[class*="rounded-circle"] {
    width: 40rem;
    height: 15rem;
    object-fit: cover;
}

.profile-photo img {
    max-width: 15rem;
    max-height: 15rem;
    object-fit: cover;
}

.btn-primary,
.btn-secondary {
    color: var(--dark);
}

/* EVENT CARDS */
#events_inner {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0.5rem;
}

#events_inner .event-card {
    flex-basis: 33%;
}

@media screen AND (max-width: 991px) {
    #events_inner {
        display: block;
    }

    .profile-photo img {
        max-width: 10rem;
        max-height: 10rem;
    }
    
}