/* Tayla Orsmond u21467456 */
/*  
 *
 * Splash page styles
 *
 */
/* SPLASH */
@media screen AND (min-width: 992px) {
    .container-fluid {
        --bs-gutter-x: 0;
    }

    .splash-outer {
        height: 80vh;
    }

    .splash-txt {
        margin-top: 25vh;
        margin-left: 32vw;
        animation: forward 10s 1s infinite ease-in-out;
    }

    .splash {
        position: absolute;
        top: 14vh;
        left: 40vw;
        z-index: -1;
        animation: hover 10s 1s infinite ease-in-out;
    }

    .splash div {
        position: relative;
    }

    .splash-content {
        background-color: var(--accR);
        position: absolute;
        top: 0;
        left: 0;
        min-width: 22rem;
        min-height: 22rem;
    }

    .splash-content:last-of-type {
        background-color: var(--accY);
        opacity: 0.7;
        transform: translate(30%, -70%);
    }

    @keyframes hover {
        10% {
            opacity: 1;
            transform: translate(0, 0);
        }

        40% {
            opacity: 0.5;
            filter: blur(0.1rem);
            transform: translate(-1.5rem, -1.5rem);
        }

        60% {
            opacity: 0.5;
            filter: blur(0.1rem);
            transform: translate(-1.5rem, -1.5rem);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes forward {
        10% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(1rem, -2rem);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    /* FEATURES */
    .feature {
        opacity: 0;
        position: relative;
        transition: all 0.8s ease-in-out;
        min-width: 50vw;
        min-height: 100%;
        align-items: flex-end;
    }

    .feature:nth-of-type(2) {
        background-color: var(--accR);
    }

    .feature:nth-of-type(3) {
        background-color: var(--accY);
    }

    .feature:nth-child(even) {
        justify-content: flex-end;
        transform: translateX(-50vw);
    }

    .feature:nth-child(odd) {
        text-align: right;
        transform: translateX(50vw);
    }

    .feature p[class*="fw-bold"] {
        padding: 2rem;
        line-height: 1;
        font-size: 8rem;
    }
}

@media screen AND (max-width: 991px) {
    .container-fluid {
        --bs-gutter-x: 0;
    }

    .splash-outer {
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .lead {
        font-size: 1rem;
    }

    *[class*="display-1"] {
        font-size: 2rem;
    }

    .splash {
        position: absolute;
        top: 10%;
        z-index: -1;
    }

    .splash div {
        position: relative;
    }

    .splash-content {
        background-color: var(--accR);
        min-width: 15rem;
        min-height: 15rem;
        border-radius: 0.2rem;
    }

    .splash-content:last-of-type {
        background-color: var(--accY);
        opacity: 0.7;
        transform: translate(30%, -70%);
    }

    /* FEATURES */

    .feature {
        min-width: 100%;
        min-height: 100%;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .feature:nth-of-type(2) {
        background-color: var(--accR);
    }

    .feature:nth-of-type(3) {
        background-color: var(--accY);
    }

    .feature:nth-child(even) {
        justify-content: flex-end;
    }

    .feature:nth-child(odd) {
        text-align: right;
    }

    .feature p[class*="fw-bold"] {
        padding: 1rem;
        line-height: 1;
        font-size: 2rem;
    }

}